body {
    font-family: sans-serif;
}
.label {
    color: blue;
}
caption {
    /* display: inline; */
    /* height: 30px; */
    text-align: center;
    vertical-align: middle;
    background-color: red;
    color: white;
}
#table {
    background-color: white;
}
body {
    background-color: aquamarine;
}
.input-text {
    color: orange;
}
td.label {
    text-align: right;
}